##################################
# Terraform
##################################

# Terraform working directory
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*
crash.log

# Terraform lock file (optional – see note below)
# Uncomment the next line if you DON'T want to commit lock file
# .terraform.lock.hcl


##################################
# Private Keys
##################################

*.pem
*.key


##################################
# CLI Configuration Files
##################################

terraform.rc
.terraformrc


##################################
# OS Files
##################################

.DS_Store
Thumbs.db


##################################
# IDE / Editor Files
##################################

.vscode/
.idea/
*.swp
*.swo